@using Handfire.Core;
@using Handfire.Core.Models;
@using Microsoft.AspNetCore.Http.Extensions

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers


@model PagedList<JobModel>

<table>
    <tr class="header-tr">
        <td>Id</td>
        <td>Type</td>
        <td>Message</td>
        <td>Create Time</td>
        <td>Schedule Time</td>
        <td>Processed Time</td>
        <td>Current State</td>
        <td>Link</td>
    </tr>
    @foreach (var Job in Model.Items)
    {
        <tr>
            <td>@Job.Id</td>
            <td>@Job.Type</td>
            <td>@Job.Message</td>
            <td>@Job.CreateTime</td>
            <td>@Job.ScheduleTime</td>
            <td>@Job.ProcessedTime</td>
            <td>@Job.CurrentState</td>
            <td><a asp-controller="Details" asp-action="Index" asp-route-page="0" asp-route-pageSize="20" asp-route-jobId="@Job.Id.ToString()">Details</a></td>
            @if (Job.CurrentState == Handfire.Core.Enums.State.Failed)
            {
                <td><a asp-controller="Jobs" asp-action="Retry" asp-route-jobId="@Job.Id.ToString()">Retry</a></td>
            }

        </tr>
    }
</table>

<style>
    table{
        border: 1px solid gray;

        margin: 1rem;
    }

    td{
        padding: 0.2rem;
        border: 1px solid gray;
    }

    td:hover{
        background-color: lightgray;
    }

    .header-tr{
        background-color: lightgray;
    }
</style>