@using Handfire.Core;
@using Handfire.Core.Models;

@model PagedList<JobStateModel>

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Completed</title>
    </head>
    <body>
        <!-- Navigation -->
        @await Html.PartialAsync("../Shared/_Nav")

        <h3>Job State History</h3>

        <table>
            <tr class="header-tr">
                <td>Id</td>
                <td>State</td>
                <td>DateTime</td>
                <td>Message</td>
                <td>Job Id</td>
            </tr>
            @foreach (var Job in Model.Items)
            {
                <tr>
                    <td>@Job.Id</td>
                    <td>@Job.State</td>
                    <td>@Job.DateTime</td>
                    <td>@Job.Message</td>
                    <td>@Job.JobId</td>
                </tr>
            }
        </table>
    </body>
<style>
    table {
        border: 1px solid gray;
        margin: 1rem;
    }

    td {
        padding: 0.2rem;
        border: 1px solid gray;
    }

        td:hover {
            background-color: lightgray;
        }

    .header-tr {
        background-color: lightgray;
    }
</style>
</html>