@using Handfire.Core.Models;

@model DashboardStatistics

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Dashboard</title>
</head>
<body>

    <!-- Navigation -->
    @await Html.PartialAsync("../Shared/_Nav")

    <h3>Total : @Model.Total</h3>
    <h3>Pending : @Model.Pending</h3>
    <h3>Scheduled : @Model.Scheduled</h3>
    <h3>Created : @Model.Created</h3>
    <h3>Completed : @Model.Completed</h3>
    <h3>Failed : @Model.Failed</h3>
</body>

<script type="text/javascript">
    setTimeout(function () {
        window.location.reload();
    }, 1000)
</script>
</html>